/*
styling for the wp-json plugin
*/

.disp_category {
	color: blue; font-size: 24px; text-transform: uppercase;
}

.disp_title {
	color: orangered; font-size: 18px; width: 66%;
}

.disp_aut_date {
	color: black; font-size: 14px;
}

.disp_content {
	color: black; font-size: 13px; width: 66%;
}

.form_header {
	font-size: 15px; color: blue;
}

.form_highlight {
	font-size: 15px;font-weight: bold;
}